.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
Lectures/*/Scaffolding/
Lectures/*/*slides_files*
Lectures/*/*slides.Rmd
Lectures/*/*.Rhistory
Lectures/*/VideoDecodeStats
Quizzes
Tets
NFGH
evidence_debates